<div class='row'>
    
    <div class="col-xs-12">
        
        <p>
            {{purpose}}
        </p>
    </div>

  {{#each input}}
    <div class="form-group col-md-4 col-sm-6">
      <label for='{{id}}'>{{label}}</label>
      <input type='text' id='{{id}}' class='form-control projectInput' placeholder='{{placeholder}}'></input>
    </div>
  {{/each}}
</div>
<button id='execute' data-route='{{submitId}}' class='btn btn-primary'>Execute</button>
<button id='projectHelp' class='btn btn-warning pull-right'>Explanation</button>
