<div class="row">
{{#each projects}}
<div class="col-xs-12 col-md-{{colMd}} col-sm-6" >

  <a href="#/{{this.route}}" class="thumbnail card" style="background-image:url({{this.src}})">
    <div class='opaque'>
      <p>
        {{this.name}}
      </p>
   </div>
    <!--<img src="{{this.src}}">-->
  </a>
  </div>
{{/each}}
</div>
